## ENGIE - GEMS 
### Evaluación de las habilidades de gestión de datos y digitalización

---
Prueba práctica del proceso de selección desarrollada por Alba Durán Merinero

#### 1. Configuración de paths y librerías

In [21]:
import funciones_caso_practico as f

main_path = "datos/" 
facturas_path = main_path + "facturas_agiekey.xlsx"
facturas_path2 = main_path + "facturas_agiekey2.xlsx"
mapping_path = main_path + "Mapping.xlsx"
deals_path = main_path + "Deals_Marzo_2024/"

#### 2. Análisis dataset Facturas Agiekey

In [2]:
#Carga del fichero de facturas
facturas = f.carga_xlsx(facturas_path)
facturas.head()

,NumeroFactura,Emisor,RazonSocialEmisor,DepEmisor,Receptor,RazonSocialReceptor,DepReceptor,FechaFactura,Importe,Moneda,Estado,FechaEstado,FechaRegistro,Destino,Contrato,Origen,ServicioFacturado,¿Verificada por BO?,Observaciones
0,2024264672,ESA86484292,"ENAGAS GTS, SAU",60,ESB82508441,ENGIE ESPAÑA SLU,NaN,4/3/24,123195.13,EUR,Recibida,4/3/24,4/3/24,eMail,344991,AVB,Servicio agregado AVB,NaN,NaN
1,2024264671,ESA86484292,"ENAGAS GTS, SAU",60,ESB82508441,ENGIE ESPAÑA SLU,NaN,4/3/24,111963.62,EUR,Recibida,4/3/24,4/3/24,eMail,344991,AVB,Servicio agregado AVB,NaN,NaN
2,2324004231,ESA86484334,"ENAGAS TRANSPORTE, SAU",NaN,ESB82508441,ENGIE ESPAÑA SLU,NaN,6/3/24,503763.47,EUR,Recibida,6/3/24,6/3/24,eMail,300289985,C.I. Almería,Entrada PVB,NaN,NaN
3,2024164592,ESA86484292,"ENAGAS GTS, SAU",50,ESB82508441,ENGIE ESPAÑA SLU,NaN,4/3/24,1375.12,EUR,Recibida,4/3/24,4/3/24,eMail,344991,TVB,Almacenamiento TVB,NaN,NaN
4,2024164591,ESA86484292,"ENAGAS GTS, SAU",50,ESB82508441,ENGIE ESPAÑA SLU,NaN,4/3/24,1787.43,EUR,Recibida,4/3/24,4/3/24,eMail,344991,TVB,Almacenamiento TVB,NaN,NaN

In [3]:
#Extracción de información básica del dataset de facturas
facturas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NumeroFactura        14 non-null     object
 1   Emisor               14 non-null     object
 2   RazonSocialEmisor    14 non-null     object
 3   DepEmisor            13 non-null     object
 4   Receptor             14 non-null     object
 5   RazonSocialReceptor  14 non-null     object
 6   DepReceptor          0 non-null      object
 7   FechaFactura         14 non-null     object
 8   Importe              14 non-null     object
 9   Moneda               14 non-null     object
 10  Estado               14 non-null     object
 11  FechaEstado          14 non-null     object
 12  FechaRegistro        14 non-null     object
 13  Destino              14 non-null     object
 14  Contrato             14 non-null     object
 15  Origen               14 non-null     object
 16  ServicioFacturado    14 non-null     object
 17  ¿Verificada por BO?  0 non-null      object
 18  Observaciones        0 non-null      object
dtypes: object(19)
memory usage: 2.2+ KB

In [4]:
#Verificación de que las facturas del archivo, cumplen con los requisitos definidos para una factura, en caso contrario, se derivarán esas facturas a otra tabla
#Facturas validadas como correctas
facturas_validas = f.valid_invoices(facturas)
facturas_validas.head()

Todas las facturas del archivo son válidas.

,NumeroFactura,Emisor,RazonSocialEmisor,DepEmisor,Receptor,RazonSocialReceptor,DepReceptor,FechaFactura,Importe,Moneda,Estado,FechaEstado,FechaRegistro,Destino,Contrato,Origen,ServicioFacturado,¿Verificada por BO?,Observaciones
0,2024264672,ESA86484292,"ENAGAS GTS, SAU",60,ESB82508441,ENGIE ESPAÑA SLU,NaN,4/3/24,123195.13,EUR,Recibida,4/3/24,4/3/24,eMail,344991,AVB,Servicio agregado AVB,NaN,NaN
1,2024264671,ESA86484292,"ENAGAS GTS, SAU",60,ESB82508441,ENGIE ESPAÑA SLU,NaN,4/3/24,111963.62,EUR,Recibida,4/3/24,4/3/24,eMail,344991,AVB,Servicio agregado AVB,NaN,NaN
2,2324004231,ESA86484334,"ENAGAS TRANSPORTE, SAU",NaN,ESB82508441,ENGIE ESPAÑA SLU,NaN,6/3/24,503763.47,EUR,Recibida,6/3/24,6/3/24,eMail,300289985,C.I. Almería,Entrada PVB,NaN,NaN
3,2024164592,ESA86484292,"ENAGAS GTS, SAU",50,ESB82508441,ENGIE ESPAÑA SLU,NaN,4/3/24,1375.12,EUR,Recibida,4/3/24,4/3/24,eMail,344991,TVB,Almacenamiento TVB,NaN,NaN
4,2024164591,ESA86484292,"ENAGAS GTS, SAU",50,ESB82508441,ENGIE ESPAÑA SLU,NaN,4/3/24,1787.43,EUR,Recibida,4/3/24,4/3/24,eMail,344991,TVB,Almacenamiento TVB,NaN,NaN

In [5]:
#Facturas encontradas como no válidas 
facturas_no_validas = f.invalid_invoices(facturas)
facturas_no_validas

El archivo contenía 0 facturas no validas

Empty DataFrame
Columns: [NumeroFactura, Emisor, RazonSocialEmisor, DepEmisor, Receptor, RazonSocialReceptor, DepReceptor, FechaFactura, Importe, Moneda, Estado, FechaEstado, FechaRegistro, Destino, Contrato, Origen, ServicioFacturado, ¿Verificada por BO?, Observaciones]
Index: []

In [6]:
#Calculo de totales para las facturas válidas
info = f.global_info(facturas_validas)
info

   NumeroFacturasValidas  NumeroClientes FacturacionTotal
0                     14               2     811357.98EUR

In [7]:
#Calculo de totales, a nivel de cada cliente presente en el archivo
clientes = f.client_info(facturas_validas)
clientes

,RazonSocialEmisor,Emisor,NumeroOrigenes,NumServiciosFacturados,NumeroFacturas,FacturacionTotal
0,"ENAGAS GTS, SAU",ESA86484292,2,2,13,307594.51EUR
0,"ENAGAS TRANSPORTE, SAU",ESA86484334,1,1,1,503763.47EUR

A partir del dataset de Facturas proporciona, se ha creado otro dataset que contuviera facturas con campos no informados o corruptos.
Aseguramos así el correcto funcionamiento del código en esos casos, este dataset se ha llamado **facturas_agiekey2.xlsx**

In [8]:
#Carga del fichero de facturas
facturas2 = f.carga_xlsx(facturas_path2)

#Verificación de que las facturas del archivo, cumplen con los requisitos definidos para una factura, en caso contrario, se derivarán esas facturas a otra tabla
#Facturas validadas como correctas
facturas_validas2 = f.valid_invoices(facturas2)
facturas_validas2.head()

El archivo contenía 3 facturas no validas, por favor ejecute la función invalid_invoices.

,NumeroFactura,Emisor,RazonSocialEmisor,DepEmisor,Receptor,RazonSocialReceptor,DepReceptor,FechaFactura,Importe,Moneda,Estado,FechaEstado,FechaRegistro,Destino,Contrato,Origen,ServicioFacturado,¿Verificada por BO?,Observaciones
0,2024164592,ESA86484292,"ENAGAS GTS, SAU",50,ESB82508441,ENGIE ESPAÑA SLU,NaN,4/3/24,1375.12,EUR,Recibida,4/3/24,4/3/24,eMail,344991,TVB,Almacenamiento TVB,NaN,NaN
1,2024164591,ESA86484292,"ENAGAS GTS, SAU",50,ESB82508441,ENGIE ESPAÑA SLU,NaN,4/3/24,1787.43,EUR,Recibida,4/3/24,4/3/24,eMail,344991,TVB,Almacenamiento TVB,NaN,NaN
2,2024164590,ESA86484292,"ENAGAS GTS, SAU",50,ESB82508441,ENGIE ESPAÑA SLU,NaN,4/3/24,1930.23,EUR,Recibida,4/3/24,4/3/24,eMail,344991,TVB,Almacenamiento TVB,NaN,NaN
3,2024164589,ESA86484292,"ENAGAS GTS, SAU",50,ESB82508441,ENGIE ESPAÑA SLU,NaN,4/3/24,1472.13,EUR,Recibida,4/3/24,4/3/24,eMail,344991,TVB,Almacenamiento TVB,NaN,NaN
4,2024164587,ESA86484292,"ENAGAS GTS, SAU",50,ESB82508441,ENGIE ESPAÑA SLU,NaN,4/3/24,1041.67,EUR,Recibida,4/3/24,4/3/24,eMail,344991,TVB,Almacenamiento TVB,NaN,NaN

In [9]:
facturas2 = f.carga_xlsx(facturas_path2)
facturas_validas2 = f.valid_invoices(facturas2)
facturas_no_validas2 = f.invalid_invoices(facturas2)

El archivo contenía 3 facturas no validas, por favor ejecute la función invalid_invoices.
El archivo contenía 2 facturas no validas

In [10]:
#Facturas encontradas como no válidas 
facturas_no_validas2 = f.invalid_invoices(facturas2)
facturas_no_validas2

El archivo contenía 2 facturas no validas

,NumeroFactura,Emisor,RazonSocialEmisor,DepEmisor,Receptor,RazonSocialReceptor,DepReceptor,FechaFactura,Importe,Moneda,Estado,FechaEstado,FechaRegistro,Destino,Contrato,Origen,ServicioFacturado,¿Verificada por BO?,Observaciones
0,2324004231,ESA86484334,"ENAGAS TRANSPORTE, SAU",NaN,ESB82508441,ENGIE ESPAÑA SLU,NaN,6/3/24,NaN,EUR,Recibida,6/3/24,6/3/24,eMail,300289985,C.I. Almería,Entrada PVB,NaN,NaN
1,2024164586,ESA86484292,"ENAGAS GTS, SAU",50,ESB82508441,NaN,NaN,4/3/24,1030.97,EUR,Recibida,4/3/24,4/3/24,eMail,344991,TVB,Almacenamiento TVB,NaN,NaN

In [11]:
#Calculo de totales para las facturas válidas del segundo fichero
info2 = f.global_info(facturas_validas2)
info2

   NumeroFacturasValidas  NumeroClientes FacturacionTotal
0                      9               1      69439.13EUR

In [12]:
#Calculo de totales, a nivel de cada cliente presente en el segundo archivo
clientes2 = f.client_info(facturas_validas2)
clientes2

,RazonSocialEmisor,Emisor,NumeroOrigenes,NumServiciosFacturados,NumeroFacturas,FacturacionTotal
0,"ENAGAS GTS, SAU",ESA86484292,1,1,9,69439.13EUR

#### 3. Análisis dataset Mapping

In [13]:
#Carga del fichero de mapping
mapping = f.carga_xlsx(mapping_path)
mapping.head()

         Origen Servicio facturado Portfolio Commodity DealType
0  C.I. Almería        Entrada PVB     MEDG2       IAC    GETRA
1           TVB            PLANTAS     JVLNG       ICC    GETRA
2           TVB            PLANTAS     JVLNG       ICC    GETRA
3           TVB            PLANTAS     JVLNG       ICC    GETRA
4           TVB            PLANTAS     JVLNG       ICC    GETRA

In [14]:
#Extracción de información básica del dataset de mapping
mapping.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Origen              47 non-null     object
 1   Servicio facturado  47 non-null     object
 2   Portfolio           43 non-null     object
 3   Commodity           43 non-null     object
 4   DealType            43 non-null     object
dtypes: object(5)
memory usage: 2.0+ KB

#### 4. Análisis archivos Deals_Marzo_2024.zip

In [23]:
#Rutas de los ficheros
path1 = deals_path + 'JVLNG_CTV_STOK_MARZO_2024_05_23_14_12.xlsx'
path2 = deals_path + 'MEDG2_IAC_GETRA_MARZO_2024_05_23_14_12.xlsx'
path3 = deals_path + 'SUGS2_AOC_STOK_MARZO_2024_05_23_14_12.xlsx'
path4 = deals_path + 'SUGST_AOC_STOK_MARZO_2024_05_23_14_12.xlsx'

In [33]:
deals1 = f.carga_xlsx(path1)
print(deals1.info())
print(deals1.shape)
deals1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Columns: 108 entries, Unnamed: 0 to OrderId
dtypes: object(108)
memory usage: 35.6+ KB
None
(42, 108)

,Unnamed: 0,AggregatedKey,ApplicationPeriod,BookingSource,BOValidated,BOValidationDate,BOValidator,CancelsDealId,Capacity,CapacityFrequency,...,ExerciseDate,ExerciseType,Nature,OptionNature,OptionType,PeriodInfoCollection,Script,TemplateId,TemplateScript,OrderId
0,0,"42563586,2024/05/20 13:35:59,GEFWD",010524,MET,True,2024-05-20T13:35:59+02:00,GGH410,0,90000,1440,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,"42518127,2024/05/20 13:34:13,GEFWD",040624,MET,True,2024-05-20T13:34:13+02:00,GGH410,0,50000,1440,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,"42518126,2024/05/20 13:35:59,GEFWD",010624,MET,True,2024-05-20T13:35:59+02:00,GGH410,0,50000,1440,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,"42518125,2024/05/20 13:35:59,GEFWD",010524,MET,True,2024-05-20T13:35:59+02:00,GGH410,0,50000,1440,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,"42518124,2024/05/20 13:35:59,GEFWD",280424,MET,True,2024-05-20T13:35:59+02:00,GGH410,0,50000,1440,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
deals2 = f.carga_xlsx(path2)
print(deals2.info())
print(deals2.shape)
deals2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 86 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            2 non-null      object
 1   AggregatedKey         2 non-null      object
 2   ApplicationPeriod     2 non-null      object
 3   AuctionType           0 non-null      object
 4   BookingSource         2 non-null      object
 5   BOValidated           2 non-null      object
 6   BOValidationDate      2 non-null      object
 7   BOValidator           2 non-null      object
 8   CancelsDealId         2 non-null      object
 9   Capacity              2 non-null      object
 10  CapacityFrequency     2 non-null      object
 11  CapacityUnit          2 non-null      object
 12  Category              2 non-null      object
 13  Clearer               2 non-null      object
 14  ClientType            2 non-null      object
 15  CommodityType         2 non-null      object
 16  Counterparty          2 non-null      object
 17  CounterpartyCode      2 non-null      object
 18  CounterpartyLongName  2 non-null      object
 19  CounterpartyName      2 non-null      object
 20  Currency              2 non-null      object
 21  DealCreationDate      2 non-null      object
 22  DealType              2 non-null      object
 23  DeliveryPeriodName    2 non-null      object
 24  DeliveryPoint         2 non-null      object
 25  DeliveryType          2 non-null      object
 26  DeliveryZone          2 non-null      object
 27  Desk                  2 non-null      object
 28  Direction             2 non-null      object
 29  EndDeliveryDate       2 non-null      object
 30  Entity                2 non-null      object
 31  ExtraVAI              2 non-null      object
 32  Flows                 2 non-null      object
 33  FOComment             2 non-null      object
 34  FOValidation          2 non-null      object
 35  FromDeliveryPoint     2 non-null      object
 36  FromDeliveryZone      2 non-null      object
 37  Id                    2 non-null      object
 38  Interruptible         2 non-null      object
 39  IsVirtualLeg          2 non-null      object
 40  LastUpdateTime        2 non-null      object
 41  LegId                 2 non-null      object
 42  LegType               2 non-null      object
 43  MaturityDate          2 non-null      object
 44  MaturityValueDate     2 non-null      object
 45  MidPrice              2 non-null      object
 46  MirrorFOValidation    2 non-null      object
 47  MirrorPortFolioId     2 non-null      object
 48  MirrorTradeId         2 non-null      object
 49  Nature                2 non-null      object
 50  NextFixingDate        2 non-null      object
 51  Origin                2 non-null      object
 52  OriginalTrader        2 non-null      object
 53  Portfolio             2 non-null      object
 54  PortfolioDivision     2 non-null      object
 55  PortfolioGop          2 non-null      object
 56  PortfolioLongName     2 non-null      object
 57  PortfolioName         2 non-null      object
 58  POValidated           2 non-null      object
 59  Premium               2 non-null      object
 60  PremiumCurrency       2 non-null      object
 61  PremiumQuantityUnit   2 non-null      object
 62  Quantity              2 non-null      object
 63  QuantityUnit          2 non-null      object
 64  ReplacedByDealId      2 non-null      object
 65  ReplacesDealId        2 non-null      object
 66  SettleCurrency        2 non-null      object
 67  SettlementDate        2 non-null      object
 68  SettlementPremium     2 non-null      object
 69  SettlementRule        2 non-null      object
 70  StartDeliveryDate     2 non-null      object
 71  Status                2 non-null      object
 72  TasPaymentFrequency   2 non-null      object
 73  TradeDate             2 non-null      object
 74  TradeProperties       2 non-null      object
 75  Trader                2 non-null      object
 76  TraderCode            2 non-null      object
 77  TraderName            2 non-null      object
 78  TradeType             2 non-null      object
 79  TradingPlace          2 non-null      object
 80  TradingSystem         2 non-null      object
 81  Underlying            2 non-null      object
 82  UnwindStatus          2 non-null      object
 83  VAI                   2 non-null      object
 84  VersionCreationDate   2 non-null      object
 85  VersionUpdateDate     2 non-null      object
dtypes: object(86)
memory usage: 1.5+ KB
None
(2, 86)

,Unnamed: 0,AggregatedKey,ApplicationPeriod,AuctionType,BookingSource,BOValidated,BOValidationDate,BOValidator,CancelsDealId,Capacity,...,TraderCode,TraderName,TradeType,TradingPlace,TradingSystem,Underlying,UnwindStatus,VAI,VersionCreationDate,VersionUpdateDate
0,0,"37591650,2024/05/17 09:15:39,GETRA",CAL24,NaN,MET,True,2024-03-11T13:26:05+01:00,GGH410,0,31500,...,D12\EF2015,AUBIN Baptiste,Market,MA,ME,IAC,Normal,0,2024-05-17T09:15:39+02:00,9999-01-01T00:00:00+01:00
1,1,"37056084,2024/02/09 14:35:58,GETRA",CAL23,NaN,MET,True,2024-02-09T14:35:58+01:00,GGH410,0,31500,...,D12\EF2015,AUBIN Baptiste,Market,MA,ME,IAC,Normal,0,2024-02-09T14:35:58+01:00,9999-01-01T00:00:00+01:00

In [35]:
deals3 = f.carga_xlsx(path3)
print(deals3.info())
print(deals3.shape)
deals3.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 97 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             13 non-null     object
 1   AggregatedKey          13 non-null     object
 2   ApplicationPeriod      9 non-null      object
 3   BookingSource          13 non-null     object
 4   BOValidated            13 non-null     object
 5   BOValidationDate       13 non-null     object
 6   BOValidator            9 non-null      object
 7   CancelsDealId          13 non-null     object
 8   Capacity               9 non-null      object
 9   CapacityFrequency      13 non-null     object
 10  CapacityUnit           13 non-null     object
 11  Category               13 non-null     object
 12  Clearer                13 non-null     object
 13  ClientType             13 non-null     object
 14  CommodityType          13 non-null     object
 15  Counterparty           13 non-null     object
 16  CounterpartyCode       13 non-null     object
 17  CounterpartyLongName   13 non-null     object
 18  CounterpartyName       13 non-null     object
 19  Currency               13 non-null     object
 20  DealCreationDate       13 non-null     object
 21  DealType               13 non-null     object
 22  DeliveryPeriodName     13 non-null     object
 23  DeliveryPoint          13 non-null     object
 24  DeliveryProfileCode    13 non-null     object
 25  DeliveryProfileName    13 non-null     object
 26  DeliveryType           13 non-null     object
 27  DeliveryZone           13 non-null     object
 28  Desk                   13 non-null     object
 29  Direction              13 non-null     object
 30  EndDeliveryDate        13 non-null     object
 31  Entity                 13 non-null     object
 32  ExtraVAI               13 non-null     object
 33  Flows                  13 non-null     object
 34  Folder                 8 non-null      object
 35  FolderName             8 non-null      object
 36  FOValidation           13 non-null     object
 37  HasDeliveryExceptions  9 non-null      object
 38  HasShape               9 non-null      object
 39  Id                     13 non-null     object
 40  LastUpdateTime         13 non-null     object
 41  LegId                  13 non-null     object
 42  LegType                13 non-null     object
 43  MaturityDate           13 non-null     object
 44  MaturityValueDate      13 non-null     object
 45  MidPrice               13 non-null     object
 46  MirrorFOValidation     13 non-null     object
 47  MirrorPortFolioId      13 non-null     object
 48  MirrorTradeId          13 non-null     object
 49  N_1                    7 non-null      object
 50  NextFixingDate         13 non-null     object
 51  Origin                 13 non-null     object
 52  OriginalTrader         13 non-null     object
 53  Periods                9 non-null      object
 54  Portfolio              13 non-null     object
 55  PortfolioDivision      13 non-null     object
 56  PortfolioGop           13 non-null     object
 57  PortfolioLongName      13 non-null     object
 58  PortfolioName          13 non-null     object
 59  Quantity               13 non-null     object
 60  QuantityUnit           13 non-null     object
 61  ReplacedByDealId       13 non-null     object
 62  ReplacesDealId         13 non-null     object
 63  SettleCurrency         13 non-null     object
 64  SettlementDate         13 non-null     object
 65  SettlementFrequency    13 non-null     object
 66  SettlementRule         13 non-null     object
 67  StartDeliveryDate      13 non-null     object
 68  Status                 13 non-null     object
 69  Strike                 9 non-null      object
 70  StrikeCurrency         9 non-null      object
 71  StrikeCurrencyFactor   9 non-null      object
 72  StrikeQuantityUnit     9 non-null      object
 73  TasPaymentFrequency    13 non-null     object
 74  TemplateProfile        13 non-null     object
 75  TotalQuantity          9 non-null      object
 76  TradeDate              13 non-null     object
 77  TradeProperties        9 non-null      object
 78  Trader                 13 non-null     object
 79  TraderCode             13 non-null     object
 80  TraderName             13 non-null     object
 81  TradeType              13 non-null     object
 82  TradeValueDate         9 non-null      object
 83  TradingPlace           13 non-null     object
 84  TradingSystem          13 non-null     object
 85  Underlying             13 non-null     object
 86  UnwindStatus           13 non-null     object
 87  VAI                    13 non-null     object
 88  VersionCreationDate    13 non-null     object
 89  VersionUpdateDate      13 non-null     object
 90  OriginalId             1 non-null      object
 91  FOComment              9 non-null      object
 92  Interruptible          4 non-null      object
 93  IsVirtualLeg           4 non-null      object
 94  Premium                4 non-null      object
 95  PremiumCurrency        4 non-null      object
 96  PremiumQuantityUnit    4 non-null      object
dtypes: object(97)
memory usage: 10.0+ KB
None
(13, 97)

,Unnamed: 0,AggregatedKey,ApplicationPeriod,BookingSource,BOValidated,BOValidationDate,BOValidator,CancelsDealId,Capacity,CapacityFrequency,...,VAI,VersionCreationDate,VersionUpdateDate,OriginalId,FOComment,Interruptible,IsVirtualLeg,Premium,PremiumCurrency,PremiumQuantityUnit
0,0,"41996650,2024/04/24 10:41:24,GEFWD",010424,MET,True,2024-04-24T10:41:24+02:00,GGH410,0,15000,1440,...,0,2024-04-24T10:41:24+02:00,9999-01-01T00:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,"40094436,2023/12/27 12:37:03,GEFWD",OCT23,MET,True,2023-12-27T12:37:03+01:00,GGH410,0,1e-05,1440,...,0,2023-12-27T12:37:03+01:00,9999-01-01T00:00:00+01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,"40089592,2023/10/09 13:07:03,GEFWD",041023,MET,False,1900-01-01T00:00:00+01:00,NaN,0,281.7058,1440,...,0,2023-10-09T13:07:03+02:00,2023-10-09T13:07:03+02:00,22396724,NaN,NaN,NaN,NaN,NaN,NaN
3,3,"38410189,2023/12/27 12:24:19,GEFWD",010523,MET,True,2023-12-27T12:24:19+01:00,GGH410,0,1178.163,1440,...,0,2023-12-27T12:24:19+01:00,9999-01-01T00:00:00+01:00,NaN,DESBALANCE CARTERA,NaN,NaN,NaN,NaN,NaN
4,4,"38290195,2023/12/27 12:22:36,GEFWD",170423,MET,True,2023-12-27T12:22:36+01:00,GGH410,0,924.588,1440,...,0,2023-12-27T12:22:36+01:00,9999-01-01T00:00:00+01:00,NaN,DESBALANCE CARTERA,NaN,NaN,NaN,NaN,NaN

In [36]:
deals4 = f.carga_xlsx(path4)
print(deals4.info())
print(deals4.shape)
deals4.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 96 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             6 non-null      object
 1   AggregatedKey          6 non-null      object
 2   BookingSource          6 non-null      object
 3   BOValidated            6 non-null      object
 4   BOValidationDate       6 non-null      object
 5   BOValidator            6 non-null      object
 6   CancelsDealId          6 non-null      object
 7   CapacityFrequency      6 non-null      object
 8   CapacityUnit           6 non-null      object
 9   Category               6 non-null      object
 10  Clearer                6 non-null      object
 11  ClientType             6 non-null      object
 12  CommodityType          6 non-null      object
 13  Counterparty           6 non-null      object
 14  CounterpartyCode       6 non-null      object
 15  CounterpartyLongName   6 non-null      object
 16  CounterpartyName       6 non-null      object
 17  Currency               6 non-null      object
 18  DealCreationDate       6 non-null      object
 19  DealType               6 non-null      object
 20  DeliveryPeriodName     6 non-null      object
 21  DeliveryPoint          6 non-null      object
 22  DeliveryProfileCode    6 non-null      object
 23  DeliveryProfileName    6 non-null      object
 24  DeliveryType           6 non-null      object
 25  DeliveryZone           6 non-null      object
 26  Desk                   6 non-null      object
 27  Direction              6 non-null      object
 28  EndDeliveryDate        6 non-null      object
 29  Entity                 6 non-null      object
 30  ExtraVAI               6 non-null      object
 31  Flows                  6 non-null      object
 32  FOComment              6 non-null      object
 33  FOValidation           6 non-null      object
 34  Id                     6 non-null      object
 35  Interruptible          3 non-null      object
 36  IsVirtualLeg           3 non-null      object
 37  LastUpdateTime         6 non-null      object
 38  LegId                  6 non-null      object
 39  LegType                6 non-null      object
 40  MaturityDate           6 non-null      object
 41  MaturityValueDate      6 non-null      object
 42  MidPrice               6 non-null      object
 43  MirrorFOValidation     6 non-null      object
 44  MirrorPortFolioId      6 non-null      object
 45  MirrorTradeId          6 non-null      object
 46  NextFixingDate         6 non-null      object
 47  Origin                 6 non-null      object
 48  OriginalTrader         6 non-null      object
 49  Portfolio              6 non-null      object
 50  PortfolioDivision      6 non-null      object
 51  PortfolioGop           6 non-null      object
 52  PortfolioLongName      6 non-null      object
 53  PortfolioName          6 non-null      object
 54  Premium                3 non-null      object
 55  PremiumCurrency        3 non-null      object
 56  PremiumQuantityUnit    3 non-null      object
 57  Quantity               6 non-null      object
 58  QuantityUnit           6 non-null      object
 59  ReplacedByDealId       6 non-null      object
 60  ReplacesDealId         6 non-null      object
 61  SettleCurrency         6 non-null      object
 62  SettlementDate         6 non-null      object
 63  SettlementFrequency    6 non-null      object
 64  SettlementRule         6 non-null      object
 65  StartDeliveryDate      6 non-null      object
 66  Status                 6 non-null      object
 67  TasPaymentFrequency    6 non-null      object
 68  TemplateProfile        6 non-null      object
 69  TradeDate              6 non-null      object
 70  TradeProperties        6 non-null      object
 71  Trader                 6 non-null      object
 72  TraderCode             6 non-null      object
 73  TraderName             6 non-null      object
 74  TradeType              6 non-null      object
 75  TradingPlace           6 non-null      object
 76  TradingSystem          6 non-null      object
 77  Underlying             6 non-null      object
 78  UnwindStatus           6 non-null      object
 79  VAI                    6 non-null      object
 80  VersionCreationDate    6 non-null      object
 81  VersionUpdateDate      6 non-null      object
 82  ApplicationPeriod      3 non-null      object
 83  Capacity               3 non-null      object
 84  Folder                 2 non-null      object
 85  FolderName             2 non-null      object
 86  HasDeliveryExceptions  3 non-null      object
 87  HasShape               3 non-null      object
 88  N_1                    2 non-null      object
 89  Periods                3 non-null      object
 90  Strike                 3 non-null      object
 91  StrikeCurrency         3 non-null      object
 92  StrikeCurrencyFactor   3 non-null      object
 93  StrikeQuantityUnit     3 non-null      object
 94  TotalQuantity          3 non-null      object
 95  TradeValueDate         3 non-null      object
dtypes: object(96)
memory usage: 4.6+ KB
None
(6, 96)

,Unnamed: 0,AggregatedKey,BookingSource,BOValidated,BOValidationDate,BOValidator,CancelsDealId,CapacityFrequency,CapacityUnit,Category,...,HasDeliveryExceptions,HasShape,N_1,Periods,Strike,StrikeCurrency,StrikeCurrencyFactor,StrikeQuantityUnit,TotalQuantity,TradeValueDate
0,0,"41888250,2024/05/17 16:48:00,STOK",MET,True,2024-05-17T16:48:00+02:00,GGH410,0,1440,MWZ,O,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,"38290460,2023/12/27 12:22:36,GEFWD",MET,True,2023-12-27T12:22:36+01:00,GGH410,0,1440,MWZ,O,...,False,False,False,"[{'MarketMaturityId': '170423', 'DeliveryPerio...",35.2,EUR,1,MWZ,924.588,2023-04-24T00:00:00+02:00
2,2,"38249489,2023/12/27 12:22:36,GEFWD",MET,True,2023-12-27T12:22:36+01:00,GGH410,0,1440,MWZ,O,...,False,False,False,"[{'MarketMaturityId': '160423', 'DeliveryPerio...",34.55,EUR,1,MWZ,352.34,2023-04-19T00:00:00+02:00
3,3,"38054569,2023/12/27 12:18:50,GEFWD",MET,True,2023-12-27T12:18:50+01:00,GGH410,0,1440,MWZ,O,...,False,False,NaN,"[{'MarketMaturityId': '250323', 'DeliveryPerio...",36.76,EUR,1,MWZ,3910.694,2023-03-28T00:00:00+02:00
4,4,"36525979,2024/04/26 12:02:50,STOK",MET,True,2024-04-26T12:02:50+02:00,GGH410,0,1440,MWZ,O,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN